# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/caches/
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
DK_SAMPLE.iml
DkSample.iml
app/
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
local.properties
settings.gradle
.idea/gradle.xml
.idea/runConfigurations.xml
build/
